*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{

    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    justify-content: center;
    /* align-items: center;  */
    width: 100%;
    height: 100%;
    background-color: #191919;
}
#panel1{
    margin-top: 20px;
 width: 80%;
    height: 90%;
    border-radius: 10px;
    background-color:#163020;
    overflow: hidden;
}
#ptop{
    justify-content: space-between;
align-items: center;
    padding: 0px  20% 0px 20%;
    display: flex;
    width: 100%;
    color: white;
    height: 20%;
    background-color: #FF90BC;
}

.elem{
    display: flex;
    align-items: center;
    gap: 10px;
}
.box{ padding: 10px 20px;
    background-color:#B0578D;
    border-radius: 5px;
    font-weight: 700;
    font-size: 22px;
}

#pbtm{ display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
  height: 80%;
  background-color:#3081D0;
}

.bubble{
  display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: white;
    border-radius: 50%;
    background-color:#1640D6;
    font-weight: 500;
    cursor: pointer;
}

